html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

@media only screen  (max-width:1196px){
  #bear{
    left: 800px;
  }
}

